**/Dockerfile
**/*.Dockerfile
**/*.dockerignore
**/compose.yml

**/.git/
**/.gitignore
**/.gitattributes
**/.prettierignore
**/.prettierrc
**/.prettierrc.*
**/prettier.config.*
**/eslint.config.*
**/README.md
**/.env
**/.env.*
!**/.env.production

**/node_modules/

#**/dist/

**/.idea/
**/.vscode/
